// Variables

//
// custom-variables
//

// Vertical Sidebar - Default Light
$sidebar-bg: #ffffff;
$sidebar-menu-item-color: #545a6d;
$sidebar-menu-sub-item-color: #545a6d;
$sidebar-menu-item-icon-color: #7f8387;
$sidebar-menu-item-hover-color: #383c40;
$sidebar-menu-item-active-color: #556ee6;
$sidebar-width: 250px;
$sidebar-collapsed-width: 70px;
$sidebar-width-sm: 160px;





// Vertical Sidebar - Dark
$sidebar-dark-bg: #2a3042; //2c313a
$sidebar-dark-menu-item-color: #a6b0cf;
$sidebar-dark-menu-sub-item-color: #79829c;
$sidebar-dark-menu-item-icon-color: #6a7187;
$sidebar-dark-menu-item-hover-color: #ffffff;
$sidebar-dark-menu-item-active-color: #ffffff;

// Topbar - Deafult Light
$header-height: 70px;
$header-bg: #ffffff;
$header-item-color: #555b6d;

// Topbar - Dark
$header-dark-bg: #2a3042;
$header-dark-item-color: #e9ecef;

// Topbar Search
$topbar-search-bg: #f3f3f9;

// Footer
$footer-height: 60px;
$footer-bg: #f2f2f5;
$footer-color: #74788d;

// Horizontal nav
$topnav-bg: #fff;

$menu-item-color: #545a6d;
$menu-item-active-color: #556ee6;

// Right Sidebar
$rightbar-width: 280px;

// Display
$display-none: none;
$display-block: block;

// Brand
$navbar-brand-box-width: 250px;

// Boxed layout width
$boxed-layout-width: 1300px;
$boxed-body-bg: #ebebf4;

// Font Weight
$font-weight-medium: 500;
$font-weight-semibold: 600;

// apex charts
$apex-grid-color: #f8f9fa;

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #eff2f7;
$gray-300: #f6f6f6;
$gray-400: #f3f3f3;
$gray-500: #dddddd;
$gray-600: #c3c3c3;
$gray-700: #666666;
$gray-800: #252525;
$black: #000;

$primary-300: #e8d4f7;
$primary-400: #d2a8f0;
$primary-500: #bb7de8;
$primary-600: #8e26d9;
$primary-700: #551782;
$primary-800: #390f57;

$secondary-300: #d4f1f7;
$secondary-400: #a8e4f0;
$secondary-500: #52c9e0;
$secondary-600: #1f96ad;
$secondary-700: #177082;
$secondary-800: #0f4b57;

$success-300: #e0f7d4;
$success-400: #a1e87d;
$success-500: #62d926;
$success-600: #4ead1f;
$success-700: #3b8217;
$success-800: #27570f;

$orange-300: #f7e0d4;
$orange-400: #f0c0a8;
$orange-500: #e08152;
$orange-600: #d96226;
$orange-700: #ad4e1f;
$orange-800: #823b17;

$warning-300: #f7f1d4;
$warning-400: #f0e4a8;
$warning-500: #e0c952;
$warning-600: #d9bb26;
$warning-700: #ad961f;
$warning-800: #827017;

$danger-300: #f7d4dd;
$danger-400: #f0a8ba;
$danger-500: #e05275;
$danger-600: #d92653;
$danger-700: #821732;
$danger-800: #570f21;

$info-300: #f0f3f4;
$info-400: #c5cfd4;
$info-500: #607d8b;
$info-600: #455a64;
$info-700: #455a64;
$info-800: #37474f;

$grays: ();
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    '100': $gray-100,
    '200': $gray-200,
    '300': $gray-300,
    '400': $gray-400,
    '500': $gray-500,
    '600': $gray-600,
    '700': $gray-700,
    '800': $gray-800,
    '900': $gray-800,
  ),
  $grays
);

$blue: #556ee6;
$indigo: #564ab1;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #f46a6a;
$orange: #f1734f;
$yellow: #f1b44c;
$green: #34c38f;
$teal: #050505;
$cyan: #50a5f1;

$colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    'blue': $blue,
    'indigo': $indigo,
    'purple': $purple,
    'pink': $pink,
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
    'white': $white,
    'gray': $gray-600,
    'gray-dark': $gray-800,
  ),
  $colors
);

$primary: $primary-500;
$secondary: $secondary-600;
$success: $success-600;
$info: $info-500;
$warning: $warning-500;
$danger: $danger-500;
$light: $gray-200;
$dark: $gray-400;

$theme-colors: ();

$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'pink': $pink,
    'light': $light,
    'dark': $dark,
  ),
  $theme-colors
);



// Cards

$card-spacer-y: 0.75rem;
$card-spacer-x: 1.25rem;
$card-border-width: 0;
$card-border-radius: $border-radius;
$card-border-color: $gray-300;
$card-inner-border-radius: calc(#{$card-border-radius} - #{$card-border-width});
$card-cap-bg: $primary-600;
$card-cap-color: $gray-500;
$card-color: null;
$card-bg: $white;

$card-title-desc: $gray-600;

$card-img-overlay-padding: 1.25rem;

$card-group-margin: $grid-gutter-width / 2;
$card-deck-margin: $card-group-margin;

$card-columns-count: 3;
$card-columns-gap: 1.25rem;
$card-columns-margin: $grid-gutter-width;

