.stepper {
  flex-wrap: wrap;

  > * {
    flex: 1 1 50%;
  }

  &__step {
    padding: 8px 0 4px;
    position: relative;
    width: 50%;

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 50%;
      height: 2px;
      top: 29px;
      z-index: 5;
    }

    &::after {
      right: 0;
    }

    &::before {
      left: 0;
    }

    &--completed {
      &::before,
      &::after {
        background-color: $secondary-600;
      }
    }

    &--active {
      &::before {
        background-color: $secondary-600;
      }
      &::after {
        background-color: $gray-600;
      }
    }

    &--disabled {
      &::before,
      &::after {
        background-color: $gray-600;
      }
    }
  }

  &__icon {
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    transition: background-color 200ms ease-in-out;
    z-index: 10;

    i,
    span {
      font-size: 1.5rem;
    }

    &--completed {
      color: $white;
      background-color: $secondary-600;
      border: solid 1px $secondary-600;
    }

    &--active {
      color: $secondary-600;
      background-color: $white;
      border: solid 1px $secondary-600;
    }

    &--disabled {
      color: $gray-600;
      background-color: $white;
      border: solid 1px $gray-600;
    }
  }

  &__label {
    font-size: 0.7rem;

    &--active {
      color: $secondary-500;
    }
  }
}

@media only screen and (min-width: 768px) {
  .stepper {
    flex-wrap: nowrap;
    > * {
      flex: 1 1 auto;
    }

    &__step {
      width: calc(100% / var(--length));

      &:last-child::after,
      &:first-child::before {
        content: none;
      }
    }
  }
}
