.section {
  opacity: 0;
  //transition: opacity 50ms ease-in-out;
  
  &--active {
    opacity: 1;
    transition: opacity 50ms 250ms ease-in-out;
  }
}


.prev {
    color: $gray-700;
    border-color: $gray-600;
  }
  